.thumbnail
  %form{ action: route['action'], method: route['method'] }
    - unless book.thumbnail.nil?
      %img{ src: book.thumbnail, alt: book.title }
      %input(type="hidden" name="thumbnail"){ value: book.thumbnail }

      %h4.title= book.title
      %input(type="hidden" name="title"){ value: book.title }

    - unless book.authors.nil?
      .authors
        = book.authors
        %input(type="hidden" name="authors"){ value: book.authors }

    %button.btn.btn-primary(type="submit")
      %i.icon-plus.icon-white
      Add