.tabbable
  %ul.nav.nav-pills
    %li.active
      %a(data-toggle="pill" href='#dashboard') Dashboard
    %li
      %a(data-toggle="pill" href='#manage_books') Manage Books
    %li
      %a(data-toggle="pill" href='#add_a_book') Add A Book

  .tab-content
    #dashboard.tab-pane.active
      Dashboard stuff here
    #manage_books.tab-pane
      .well
        - unless @books.nil? or @books.count < 1
          %ul.thumbnails
            - @books.each do |book|
              %li.span2
                = partial(:'partials/book_partial', locals: { book: book, route: @route })
        - else
          No books yet
    #add_a_book.tab-pane
      = partial(:'partials/book_search_partial', locals: { books: @search_results, query: @query, route: @route })
