%h2 Books
.well
  - unless @books.nil? or @books.count < 1
    %ul.thumbnails
      - @books.each do |book|
        %li.span2
          = partial(:'partials/book_partial', locals: { book: book, route: @route })
  - else
    No books yet